.slider h3 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.slider h5 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.parallax-container {
    height: 20%;
}

.available h3 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.parallax img {
    opacity: 0.5 !important;
}

.available img {
    max-width: 150px;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));
}

section {
    padding: 20px 0px;
}

.btn btn-primary {
    box-align: center;
}

section, footer {
    padding: 20px 0px;
}